$color-primary: #CAFF33;
$color-primary-dark: #acdd24;
$color-primary-light: #D1FF4D;



$color-dark-1: #1A1A1A;
$color-dark-2: #1C1C1C;
$color-dark-3: #262626;
$color-dark-4: #22251B;

$color-grey: #B3B3B3;


$color-white: #fff;
 
// font-size 
$font-size-lage: 18px;
$font-size-medium: 16px;
$font-size-small: 14px